html, body{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}
.instruction{
    background:rgba(0,0,120,0.5);
    padding:10px;
}
.instruction h1{
    color: aliceblue;
}
.Choice{
    display:flex;
}
.Choice>div{
    flex-grow:1;
}
.Choice.disabled{
    background:grey;
}
.box{
    flex-grow: 1;
    display:flex;
    border: 2px solid #000;
    border-radius: 6px;
    margin: 5px;

}
.Action{  
    background:url("/img/action.png");
    background-color: #49423f;
}
.Adventure{
    background:url("/img/adventure.png");
    background-color: #ff1f43;
}
.Drama{
    background:url("/img/drama.png");
    background-color: #4cc540;
}
.ScienceFiction{
    background:url("/img/sciencefiction.png");
    background-color: #bcc540;
}
.Music{
    background:url("/img/music.png");
    background-color: #c57140;
}
.Crime{
    background:url("/img/crime.png");
    background-color: #300505;
}
.History{
    background:url("/img/history.png");
    background-color: #f7fc00;
}
.Animation{
    background:url("/img/animation.png");
    background-color: #690f35;
}
.Thriller{
    background:url("/img/thriller.png");
    background-color: #c54040;
}
.Fantasy{
    background:url("/img/fantasy.png");
    background-color: #4d0d48;
}

.box{
    flex-grow: 1;
    display:flex;
    border: 2px solid #000;
    border-radius: 6px;
    margin: 5px;

}
.Family{
    background:url("/img/family.png");
    background-color: #4089c5;
}
.TVMovie{
    background:url("/img/tvmovie.png");
    background-color: #100f68;
}
.Horror{
    background:url("/img/horror.png");
    background-color: #c58040;
}
.War{
    background:url("/img/war.png");
    background-color: #382a04;
}
.Comedy{
    background:url("/img/comedy.png");
    background-color: #6b0d44;
}
.Mystery{
    background:url("/img/mystery.png");
    background-color: #000000;
}
.Foreign{
    background:url("/img/foreign.png");
    background-color: #c5a640;
}
.Western{
    background:url("/img/western.png");
    background-color: #fbff00;
}
.Romance{
    background:url("/img/romance.png");
    background-color: #ff0000;
}
.Documentary{
    background:url("/img/documentary.png");
    background-color: #059600;
}
.Action,.Adventure,.Drama,.ScienceFiction,.Music,.Crime,.History,.Animation,.Thriller,.Fantasy,.Family,.TVMovie,.Horror,.War,.Comedy,.Mystery,.Foreign,.Western,.Romance,.Documentary{
    height:100%;
    width:100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.box>a{
    flex-shrink: 1;
    flex-grow: 1;
    display:flex;
    height: 160px;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
    color: rgb(139, 139, 212);
    font-size: 15px;
}
.user>a:hover{
    box-shadow: 0 0 0px 2px rgb(5, 29, 48);
}
.disabled>div>.box>a{
    cursor:not-allowed;
    opacity:0.2;
}
.disabled>div>.box>a.selected{
    box-shadow: 0 0 0px 5px #2196F3;
    opacity: 1;
}
.box>a>p{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    margin: 10px;
    flex-grow: 0;
    height: 30px;
    line-height: 30px;
}
h3{
    width:100%;
    margin: 10px;
}

.result{
    border: 2px solid #2c0c8f;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
}
.result p{
    flex-grow:1;
    margin:0;
}
.result a{
    flex-grow:0;
}
